@{
    ViewData["Title"] = "Home Page";
}

<div class="imagen-meme text-center">
    <p><<img src="~/imagen/sddefault.jpg" width="300" height="300" /></p>
    <button type="button" class="btn btn-info"onclick=" CrearAlerta()">aplastame</button
</div>
